* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
td {
    border: .25px solid black;
    height: 10px;
    width: 10px;
}
table {
    border-spacing: 0;
}
.red {
    background-color: red;
}
.purple {
    background-color: purple;
}
.yellow {
    background-color: rgb(144, 144, 4);
}
.green {
    background-color: green;
}
.orange {
    background-color: orange;
}