* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#board {
    border-spacing: 0;
}
.cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}
.red {
    background-color: red;
}